.main-content {
  margin-top: 120px; /* Adjust for fixed header */
  padding: 20px;
}

.home-container, .page-container {
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  color: #555;
}
